body{
     margin: 0;
     height: 100vh;
     display: flex;
     align-items: center;
     background-color: black;
}
.container{
    margin: auto;
}
button{
    padding: 18px 60px;
    margin: 20px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition:  .4s ease-in;
}
.btn-1:hover{
     box-shadow: inset -140px 0px 0px 0px rgb(172, 10, 91), inset 140px 0px 0px 0px rgb(172, 10, 91);
}
.btn-2:hover{
    background-color: yellow;
    box-shadow: 0px 0px 5px yellow , 0px 0px 20px yellow ,0px 0px 25px yellow,0px 0px 40px yellow,0px 0px 50px yellow;
}
.btn-3:hover{
    box-shadow: 10px 10px 0px green;

}
.btn-4:hover{
    box-shadow: inset 2px 2px 2px orangered,inset -2px -2px 2px orangered;
    background-color: black;
    color:orangered;
}
    