body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    display: inline-block;
    height: 80px;
    width: 30px;
    background-color: black;
    margin: 0 5px;
    animation: zoom .7s infinite alternate;
}

@keyframes zoom{
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(3);
    }
}
li:nth-child(1){
    animation-delay: .1s;
}
li:nth-child(2){
    animation-delay: .2s;
}
li:nth-child(3){
    animation-delay: .3s;
}
li:nth-child(4){
    animation-delay: .4s;
}
li:nth-child(5){
    animation-delay: .5s;
}